* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

ol,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
