.intro {
  background: image-set(
    url(../../img/intro/intro-background.webp) 1x,
    url("../../img/intro/intro-background@2x.webp") 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 820px;
  position: relative;
  &__main {
    text-align: center;
    padding-top: 260px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 100;
  }

  &__upper-title {
    font-size: 30px;
    font-weight: 300;
    line-height: 150%;
    text-transform: uppercase;
    color: white;
    z-index: 100;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  &__title {
    font-size: 56px;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
    color: #4f8ff0;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    z-index: 100;
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 48px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    z-index: 100;
  }

  &__button {
    padding: 16px 24px;
    gap: 10px;
    background-color: #4f8ff0;
    border: 2px solid #4f8ff0;
    font-size: 14px;
    font-weight: 900;
    line-height: 120%;
    text-transform: uppercase;
    color: white;
    text-align: center;
    transition: 0.3s;
    margin-bottom: 192px;
    z-index: 100;

    &:hover {
      color: #4f8ff0;
      background-color: white;
      transition: 0.3s;
    }
  }

  &__opacity {
    background: rgba(34, 34, 34, 0.64);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
  }

  &__slider {
    display: flex;
    gap: 8px;
  }

  &__slider-button {
    display: block;
    background: none;
    border: none;
  }

  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__slider-bullet-img {
    margin-right: 8px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

@media (max-width: 1021px) {
  .intro {
    &__upper-title {
      font-size: 24px;
      font-weight: 300;
      line-height: 120%;
      text-transform: uppercase;
    }

    &__title {
      font-size: 50px;
    }

    &__subtitle {
      font-size: 18px;
    }

    &__button {
      margin-bottom: 36px;
    }
  }
}

@media (min-width: 320px) and (max-width: 616px) {
  .intro {
    &__upper-title {
      font-size: 18px;
    }

    &__title {
      font-size: 30px;
    }

    &__subtitle {
      font-size: 16px;
      line-height: 150%;
    }

    &__bottom-wrapper {
      display: none;
    }
  }
}
