.review {
  background: url(./review-background.webp);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  width: 100%;
  max-height: 588px;

  &__title {
    font-size: 28px;
    font-weight: 800;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 48px;
    padding-top: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    &::after {
      content: "";
      width: 50px;
      height: 3px;
      background: #4f8ff0;
      display: block;
      align-items: center;
    }
  }

  &__company {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 14px;
    font-weight: 300;
    line-height: 120%;
    margin-bottom: 4px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__slider {
    display: flex;
    gap: 8px;
  }

  &__slider-button {
    display: block;
    background: none;
    border: none;
  }

  &__layout-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 24px;
  }

  &__content {
    padding: 32px;
    flex-direction: column;
    background: white;
    box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.15);
    margin-bottom: 32px;
    display: flex;
  }

  &__avatar {
    margin-right: 24px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  &__button {
    padding: 16px 24px;
    font-size: 14px;
    font-weight: 900;
    line-height: 120%;
    text-transform: uppercase;
    color: white;
    border: 2px solid #4f8ff0;
    background: #4f8ff0;
    margin-right: 24px;
    margin-bottom: 80px;
    transition: 0.3s;
    &:hover {
      color: #4f8ff0;
      background-color: white;
      transition: 0.3s;
    }
  }

  &__gray-button {
    padding: 16px 24px;
    font-size: 14px;
    font-weight: 900;
    line-height: 120%;
    text-transform: uppercase;
    color: #222222;
    border: 2px solid #e6e6e6;
    background: #e6e6e6;
    transition: 0.3s;
    &:hover {
      background-color: white;
      transition: 0.3s;
    }
  }

  &__layout-top {
    display: flex;
    justify-content: space-between;
  }

  &__feather {
    max-width: 55px;
    max-height: 55px;
    object-fit: cover;
    object-position: center;
  }
}
