.services {
  background: #f7f7f7;
  padding: 80px 0px 80px;

  &__title {
    font-size: 28px;
    font-weight: 800;
    line-height: 150%;
    text-transform: uppercase;
    color: #222222;
    text-align: center;
    margin-bottom: 24px;
    &::after {
      content: "";
      width: 50px;
      height: 3px;
      background: #4f8ff0;
      display: block;
      align-items: center;
      margin: 0 auto;
    }
  }

  &__subtitle {
    color: #222222;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    margin-bottom: 48px;
  }

  &__layout-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 38px 24px;
    margin-bottom: 48px;
  }

  &__icon {
    max-width: 35px;
    max-height: 35px;
    margin-bottom: 15px;
  }

  &__layout-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 32px;
    background: #ffffff;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      color: #f7f7f7;
      background: #4f8ff0;
    }

    &:hover .services__agreement-fill {
      fill: white;
      transition: 0.5s;
    }

    position: relative;
  }

  &__layout-title {
    font-size: 20px;
    font-weight: 800;
    line-height: 150%;
    text-align: center;
  }

  &__layout-subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
  }

  &__button {
    padding: 16px 24px;
    border: 2px solid #4f8ff0;
    background: #4f8ff0;
    color: white;
    font-size: 14px;
    font-weight: 900;
    line-height: 120%;
    text-transform: uppercase;
    align-items: end;
    margin-bottom: 80px;
    display: block;
    margin: 0 auto;
    transition: 0.5s;
    &:hover {
      color: #4f8ff0;
      background-color: white;
      transition: 0.5s;
    }
  }
}

@media (max-width: 1021px) {
  .services {
    padding: 60px 0px 60px;

    &__title {
      font-size: 24px;
    }

    &__layout-wrapper {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px 24px;
    }

    &__layout-content {
      padding: 30px 32px 40px;
    }
  }
}

@media (min-width: 320px) and (max-width: 616px) {
  .services {
    padding: 40px 0 40px;

    &__title {
      font-size: 20px;
    }

    &__subtitle {
      font-size: 14px;
      margin-bottom: 24px;
    }

    &__layout-wrapper {
      grid-template-columns: repeat(6, 250px);
      overflow: auto;
    }

    &__layout-content {
      padding: 24px 16px 32px 16px;
    }

    &__layout-subtitle {
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
  }
}
